[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
safety = "*"
codecov = "*"
mock = "*"
pytest = "*"
alembic = "*"

[packages]
boto3 = "*"
requests = "*"
SQLAlchemy = "*"
pytz = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
